app{
    font-family: 'Montserrat', sans-serif;
}
.router-link-exact-active{
    font-weight: bold;
}

.btn-success ,.badge-success{
    background-color: #4eb883;
}
.card-product, .card-img-top{
    border-radius: 15px;
}